faiss-gpu
langchain
langchain-core
langchain-openai
langchain-anthropic
langchain-google-genai
langchain-community
huggingface_hub
ollama
pydantic
requests
pandas
sentence-transformers
parse-llm-code
datasets
